---
type Props = {
  startYear: number
  endYear: number
  jobTitle: string
  company: string
  employmentType: string
  techStack: string[]
  description: string
}

const { startYear, endYear, jobTitle, company, employmentType, techStack, description } = Astro.props
---

<div class="flex gap-10 text-foreground/60">
  <p class="hidden whitespace-nowrap sm:block">
    {startYear} - {endYear}
  </p>
  <div class="flex flex-col">
    <p class="text-lg font-semibold text-foreground">
      {jobTitle}
    </p>
    <p class="mb-4">
      {company} • {employmentType}
      <span class="inline-block whitespace-nowrap sm:hidden">
        • ({startYear} - {endYear})
      </span>
    </p>
    <p class="mb-2">
      <span class="font-semibold">Tech Stack:</span>
      {' '}{techStack.join(', ')}
    </p>
    <p class="">
      {description}
    </p>
  </div>
</div>
